{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">

    <title>Application</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="{% static 'webmonitor.js' %}"></script>

</head>

<body onload="
        {% if update == 1 %}
            updateSessionStorage();
        {% endif %}
        {% if contact_id %}
            setContactID({{ contact_id }});
        {% endif %}
        ">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Application</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_home %}active{% endif %}" href="{% url 'home' 1 %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_contact %}active{% endif %}"
                       href="{% url 'contact' 1 %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_about %}active{% endif %}" href="{% url 'about' 1 %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_price %}active{% endif %}" href="{% url 'price' 1 %}">Preço</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>
                {% block body %}
                {% endblock %}
            </h1>

            {% block form %}
            {% endblock %}
        </main>
    </div>
</div>
</body>

</html>
